{% extends 'layout.html.twig' %}

{% block content %}
<main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-users"></i>&nbsp;Suivi de Prénom NOM</h1>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('main_index') }}"><i class="fa fa-home fa-lg"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path('employee_list') }}">Employés</a>
                    </li>
                    <li class="breadcrumb-item">Suivi de {{ employee.firstName }} {{ employee.lastName }}</li>
                </ul>
            </div>
                {% for flash_type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-{{ flash_type }} my-4" role="alert">
                            <button class="close" type="button" data-dismiss="alert">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            <div class="row">
                <div class="col-md-4">
                    <div class="tile">
                        <table class="table table-striped table-bordered table-sm">
                            <tbody>
                                <tr>
                                    <th>Prénom</td>
                                    <td>{{ employee.firstName }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</td>
                                    <td>{{ employee.lastName }}</td>
                                </tr>
                                <tr>
                                    <th>Email</td>
                                    <td>{{ employee.email }}</td>
                                </tr>
                                <tr>
                                    <th>Métier</td>
                                    <td>{{ employee.profession.title }}</td>
                                </tr>
                                <tr>
                                    <th>Coût journalier</td>
                                    <td>{{ employee.dailyCost }}</td>
                                </tr>
                                <tr>
                                    <th>Date d'embauche</td>
                                    <td>{{ employee.hireDate|date('Y-m-d') }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="{{ path('employee_form', {'id': employee.id}) }}" class="btn btn-info">
                            <i class="fa fa-pencil"></i>Modifier
                        </a>
                    </div>
                    <div class="tile">
                        <h3 class="title-title mb-4">Ajouter un temps</h3>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group row">
                                {{ form_label(form.project, null,{'label_attr': {'class': 'control-label col-md-6'}}) }}
                                <div class="col-md-6">
                                    {{ form_widget(form.project, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ form_label(form.nbDays, null,{'label_attr': {'class': 'control-label col-md-6'}}) }}
                                <div class="col-md-6">
                                    {{ form_errors(form.nbDays, {'attr': {'class': 'form-control-feedback text-danger'}}) }}
                                    {{ form_widget(form.nbDays, {'attr': {'class': 'form-control', 'placeholder': form.nbDays.vars.label}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-md-6 col-md-8">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Enregistrer</a>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tile pb-5">
                        <h3 class="tile-title">Historique des temps de production</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>Projet</th>
                                        <th>Temps</th>
                                        <th>Date de saisie</th>
                                        <th>Coût total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for production in filterEmployeeProductions %}
                                    <tr>
                                        <td>{{ production.project.name }}</td>
                                        <td>{{ production.nbDays }} jours</td>
                                        <td>{{ production.createdAt|date('Y-m-d') }}</td>
                                        <td>{{ production.nbDays * employee.dailyCost }} €</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr/>
                        <nav class="float-right">
                            {{ knp_pagination_render(filterEmployeeProductions, 'pagination.html.twig') }}
                        </nav>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
